input, button {
    margin: 2em;
}

button {
    padding: 0.5em 0.75em;
    background-color: #fff;
    border: 1px solid;
    color: cornflowerblue;
    border-radius: 0.5em;
    font-size: 1em;
    transition: 300ms;
  }
  
  button:hover {
    background-color: cornflowerblue;
    color: #fff;
  }
